@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<center>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request!</h2>

    <br />
    <br />

    <img src="../wwwroot/images/error.png" />

    <span>Don't have an account yet? <a href="https://localhost:44394/Home/Register">register</a></span>

    <br />
    <br />
</center>
