@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>

    <html lang="en">

        <center>

            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request!</h2>

            <br />
            <br />

            <img src="~/images/error.png" />

            <br />
            <br /> 

            <p>Don't have an account yet? <a href="https://localhost:44394/Home/Register">register</a></p>

            <br />
            <br />

        </center>

    </html>




