@model ErrorViewModel;

@{
    ViewData["Title"] = "Error";
}

@{
    var error = ViewBag.Message;
}

<style>
    /* the whole page has the same font */
    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    /* style rules for the body of the page */
    body {
        background-color: seagreen;
    }
</style>

<center>
    <br />
    <br />
    <h3>An error occurred while processing your request!</h3>
    <br />
    <img src="~/images/error.png" />

    <h5>Error explanation: @error.Explain</h5>
    <br />
    <br />
    <h4>You will be redirected to a new page in 10 seconds</h4>
</center>

<script type="text/javascript">
    function Redirect() {
        window.location = "https://localhost:44394/Home/Login";
    }
    setTimeout('Redirect()', 10000);
</script>




