@model ErrorViewModel;

@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">
    <style>
        /* the whole page has the same font */
        * 
        {
            font-family: candara;
            color: white;
            font-size: 20px;
        }

        /* style rules for the body of the page */
        body 
        {
            background-color: steelblue;
        }
    </style>
    <center>
        <br />
        <h2>An error occurred while processing your request!</h2>
        <img src="~/images/error.png" />
        @{
            var error = ViewBag.Message;
        }
        <h3>Error explanation: @error.Explain</h3>
        <br />
        <h4>You will be redirected to a new page in 10 seconds</h4>
    </center>
    <script type="text/javascript">
        function Redirect()
        {
            window.location = "https://localhost:44394/Home/Login";
        }
        setTimeout('Redirect()', 10000);
    </script>
</html>




