@model Callendar.Data.Event

@{
    ViewData["Title"] = "Create";
}

<h3>Add a new event</h3>
<div class="row">
    <div class="col-md-4">
        <form action="https://localhost:44394/Home/Add_Event" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date_Hour" class="control-label"></label>
                <input asp-for="Date_Hour" name="date-hour" class="form-control" />
                <span asp-validation-for="Date_Hour" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Collaborators" class="control-label"></label>
                <input asp-for="Collaborators" name="collaborators" class="form-control" />
                <span asp-validation-for="Collaborators" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" name="duration" min="1" max="8" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go back to your events</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
