@model Callendar.Data.Event

@{
    ViewData["Title"] = "Edit Event";
}
<html lang="en">
    <h1>Edit this Event</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="https://localhost:44394/Home/Update_Event" onsubmit="return check_collaborators()" method="post">
                <div id="error_message"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Event_ID" />
                <div class="form-group">
                    <label asp-for="Date_Hour" class="control-label"></label>
                    <input asp-for="Date_Hour" class="form-control" name="date-hour" />
                    <span asp-validation-for="Date_Hour" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collaborator1" class="control-label"></label>
                    <input asp-for="Collaborator1" class="form-control" id="col1" name="collaborator1" />
                    <span asp-validation-for="Collaborator1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collaborator2" class="control-label"></label>
                    <input asp-for="Collaborator2" class="form-control" id="col2" name="collaborator2" />
                    <span asp-validation-for="Collaborator2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Collaborator3" class="control-label"></label>
                    <input asp-for="Collaborator3" class="form-control" id="col3" name="collaborator3" />
                    <span asp-validation-for="Collaborator3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" name="duration" min="1" max="10" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return edit_message()" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</hmtl>

<script>

    // function that runs before a specific event is goint to be deleted
    function edit_message() {
        var r = confirm("Are you sure you want to update this event?");

        if (r == true) {
            return true; // event is going to be updated
        }
        else {
            return false; // event is not being updated
        }
    }


    // this function is used to check if collaborators are the same and if these fields are setted to null
    function check_collaborators() {

        // get the values of inputs of Collaborator1, Collaborator2 and Collaborator3 that user gave in the form
        var col1 = document.getElementById("col1").value;
        var col2 = document.getElementById("col2").value;
        var col3 = document.getElementById("col3").value;


        var text; // set a new variable

        // use a new variable for storing the errors during validation
        error_message.style.padding = "10px";

        if (col1 == col2 || col1 == col3 || col2 == col3)
        {

            text = "There are doubles in collaborator fields! Please check it out.";
            error_message.innerHTML = text;
            return false;
        }
        else if (col1 == "null" || col2 == "null" || col3 == "null")
        {

            text = "Collaborators fields can not be setted to null!";
            error_message.innerHTML = text;
            return false;
        }
        else
        {
            return true;
        }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
